@use "sass:color";
@use "/src/variables" as *;

main {
    height: 100svh;
    width: 100svw;
    background: url(/public/main-menu-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include FlexCenter(column);
    justify-content: space-between;
    padding: 5%;

    h1 {
        width: 100%;
        text-align: center;
        color: white;
        font-size: 7.5vw;
        margin-top: 5vh;
    }

    button {
        width: 200px;
        height: 75px;
        font-size: 48px;
        padding-left: 8px;
        font-family: "Press Start 2P", monospace;
        background: $primary;
        color: white;
        border: none;

        &:hover {
            background: color.adjust($color: $primary, $lightness: -10%);
        }
        &:active {
            transform: translateY(4px);
        }
    }
}
