@import "/src/variables";

header {
    width: 100%;
    color: $text;
    padding: 50px;
    @include FlexCenter(row);
    justify-content: space-between;

    .container {
        @include FlexCenter(row);

        .arrow {
            width: 75px;
            height: 75px;
            margin-right: 50px;
            background: url(../src/public/img/long-arrow.png);
            background-repeat: no-repeat;
            background-size: cover;
            &:hover {
                transform: translateX(-6px);
            }
        }

        h2 {
            font-size: 44px;
        }
    }

    .budget {
        font-size: 44px;
    }
}
