@use "sass:color";
@use "/src/variables" as *;

body {
    background: url(/public/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

section.car-select-sec {
    height: 100svh;
    width: 100svw;

    // * {
    //     border: red dotted 1px;
    // }

    .stats-wrapper {
        width: 100%;
        padding-right: 50px;
        display: flex;
        justify-content: end;
        color: $text;

        .stats-container {
            @include FlexCenter(column);
            width: 300px;

            .content {
                width: 100%;
                margin-bottom: 15px;
                font-size: 18px;

                @include MobileVH(860px) {
                    font-size: 15px;
                }

                @include FlexCenter(row);
                justify-content: space-between;

                .stars {
                    @include FlexCenter(row);
                    width: 110px;

                    .star {
                        width: 20px;
                        height: 20px;
                        margin-left: 2px;
                        background: url("/public/star.svg") no-repeat;
                        background-size: cover;
                        filter: brightness(40%);
                        scale: 75%;
                        transition: 0.1s steps(1);

                        &.active {
                            filter: hue-rotate(270deg) sepia(100%)
                                saturate(2000%)
                                drop-shadow(0px 0px 5px rgb(174, 255, 0))
                                brightness(100%);
                            scale: 100%;
                        }
                    }
                }

                .drive {
                    width: 108px;
                }
            }
        }
    }

    .carousel-container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 500px;

        @include Mobile(1600px) {
            height: 400px;
        }

        @include Mobile(1250px) {
            height: 300px;
        }

        @include MobileVH(860px) {
            height: 300px;
        }

        @include MobileVH(700px) {
            height: 225px;
        }

        width: 100%;
        overflow: hidden;

        .carousel-wrapper {
            position: relative;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .carousel-slide {
            position: absolute;
            width: 55%;
            height: 500px;

            @include Mobile(1600px) {
                height: 400px;
            }

            @include Mobile(1250px) {
                height: 300px;
            }

            @include MobileVH(860px) {
                height: 325px;
            }

            @include MobileVH(700px) {
                height: 250px;
            }

            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;

            &.owned {
                &::after {
                    content: "";
                }
            }

            &.not-owned {
                img {
                    filter: grayscale(100%) brightness(0.35);
                }

                &::after {
                    content: "$100";
                    position: absolute;
                    font-size: 72px;
                    color: $text;
                    border-radius: 50%;
                    padding: 5px;
                    width: 40px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        .carousel-image {
            height: 100%;
            object-fit: contain;
            object-position: center;
        }

        .carousel-button {
            position: absolute;
            z-index: 10;
            cursor: pointer;
            background: none;
            border: none;

            &:hover {
                transform: translateX(6px);
            }

            &:active {
                transform: translateX(12px);
            }

            &:has(.left) {
                &:hover {
                    transform: translateX(-6px);
                }

                &:active {
                    transform: translateX(-12px);
                }
            }
        }

        .carousel-button.left {
            left: 1rem;
        }

        .carousel-button.right {
            right: 1rem;
        }

        .arrow {
            width: 100px;
            height: 100px;
            background: url(/public/short-arrow.png) no-repeat;
            background-size: cover;

            &.left {
                rotate: 180deg;
            }
        }
    }

    .buttons-container {
        width: 100%;
        margin-top: 50px;
        @include FlexCenter(row);

        button {
            margin: 25px;
            padding: 0px 25px;
            height: 75px;
            font-size: 36px;

            @include MobileVH(860px) {
                margin: 17.5px;
                padding: 0px 17.5px;
                height: 65px;
                font-size: 32px;
            }

            @include MobileVH(700px) {
                height: 50px;
                font-size: 30px;
            }

            font-family: "Press Start 2P", monospace;
            background: $primary;
            text-transform: uppercase;
            color: $text;
            border: none;

            &:hover:not(.disabled) {
                background: color.adjust($color: $primary, $lightness: -10%);
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
            }

            &:active:not(.disabled) {
                transform: translateY(4px);
                box-shadow: none;
            }

            &.disabled {
                display: none;
            }
        }
    }
}

header.car-select-header {
    width: 100%;
    color: $text;
    padding: 50px;

    @include MobileVH(860px) {
        padding: 35px;
    }

    @include FlexCenter(row);
    justify-content: space-between;

    .container {
        @include FlexCenter(row);

        .arrow {
            width: 75px;
            height: 75px;
            margin-right: 50px;
            background: url("/public/long-arrow.png") no-repeat;
            background-size: cover;

            &:hover {
                transform: translateX(-6px);
            }
        }

        h2 {
            font-size: 44px;

            @include MobileVH(860px) {
                font-size: 37px;
            }
        }
    }

    .budget {
        font-size: 44px;
        font-weight: bold;

        @include MobileVH(860px) {
            font-size: 37px;
        }
    }
}

.car-edit-container {
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    height: 100svh;
    width: 100svw;
    background: url(/public/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px;

    .content {
        background: rgba(0, 0, 0, 0.25);
        box-shadow: 0px 0px 200px 100px rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(17px);
        width: 100%;
        height: 100%;
        border: rgba(255, 255, 255, 0.035) 1px solid;
        @include FlexCenter(column);

        header {
            padding: 20px 50px;
            height: 15%;

            .arrow {
                font-size: 40px;
            }

            h2 {
                font-size: 37.5px;
            }

            .budget {
                font-size: 37.5px;
            }
        }

        .wrapper {
            width: 100%;
            height: 70%;
            @include FlexCenter(row);
            padding: 15px;
            gap: 15px;

            .car-container {
                // border: 1px dotted red;
                height: 100%;
                width: 57.5%;
                @include FlexCenter(column);
            }

            .settings-container {
                width: 42.5%;
                height: 100%;
                @include FlexCenter(column);
                // border: 1px dotted red;

                [class$="-container"] {
                    width: 100%;
                    @include FlexCenter(column);

                    p {
                        font-size: 18px;
                        margin: 20px 0px 2px 0px;

                        @include MobileVH(650px) {
                            margin: 10px 0px 0px 0px;
                        }
                    }

                    .wrapper {
                        @include FlexCenter(row);

                        .block {
                            height: 55px;
                            width: 45px;
                            background: $linearPrimaryAccent;
                            opacity: 75%;
                            transform: skew(-10deg);
                        }

                        .disabled {
                            transform: skew(-10deg) scale(90%);
                            background: rgba(128, 128, 128, 0.1);
                        }

                        .buy-more {
                            font-size: 10px;
                            @include FlexCenter(column);
                            gap: 2px;
                            color: $text;

                            &::before {
                                content: "+";
                                font-size: 32px;
                            }

                            &::after {
                                content: "$200";
                            }

                            &:active {
                                transform: skew(-10deg) scale(90%)
                                    translateY(3px);
                            }
                        }

                        .color {
                            height: 30px;
                            width: 30px;
                            border: 2px gray solid;
                            border-radius: 3px;

                            &:active {
                                transform: translateY(3px);
                            }
                        }

                        .red {
                            background: red;
                        }

                        .blue {
                            background: blue;
                        }

                        .yellow {
                            background: yellow;
                        }
                    }
                }
            }
        }

        p {
            color: $text;
            margin: -5px;
            padding: 0;
        }

        button {
            margin: 17.5px;
            padding: 0px 17.5px;
            height: 65px;
            font-size: 32px;

            @include MobileVH(700px) {
                height: 50px;
                font-size: 30px;
            }

            font-family: "Press Start 2P", monospace;
            background: $primary;
            text-transform: uppercase;
            color: $text;
            border: none;

            &:hover:not(.disabled) {
                background: color.adjust($color: $primary, $lightness: -10%);
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
            }

            &:active:not(.disabled) {
                transform: translateY(4px);
            }
        }
    }
}
