@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Press Start 2P", serif;
}

body {
  background: url(/public/background.png) no-repeat;
  background-size: cover;
  height: 100svh;
  width: 100svw;
}
